<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.p3l">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />





    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activity.CSActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activity.ProdukActivity"
        android:label="Produk">

        </activity>
        <activity android:name=".Activity.LayananActivity"
            android:label="Layanan">

        </activity>
        <activity android:name=".CRUDActivity.CreateProdukActivity"
            android:label="Buat Data Produk">

        </activity>
        <activity android:name=".CRUDActivity.CreateLayananActivity"
            android:label="Buat Data Layanan">

        </activity>
        <activity android:name=".CRUDActivity.CreateSupplierActivity"
            android:label="Buat Data Supplier">

        </activity>
        <activity android:name=".CRUDActivity.EditProdukActivity"
            android:label="Ubah Data Produk">

        </activity>
        <activity android:name=".CRUDActivity.EditLayananActivity"
            android:label="Ubah Data Layanan">

        </activity>
        <activity android:name=".Activity.SupplierActivity"
            android:label="Supplier">

        </activity>
        <activity android:name=".CRUDActivity.EditSupplierActivity"
            android:label="Ubah Data Supplier">

        </activity>
        <activity android:name=".Activity.HewanActivity"
            android:label="Hewan">

        </activity>
        <activity android:name=".CRUDActivity.EditUkuranHewanActivity"
            android:label="Ubah Data Ukuran Hewan">

        </activity>
        <activity android:name=".CRUDActivity.CreateUkuranHewanActivity"
            android:label="Buat Data Ukuran Hewan">

        </activity>
        <activity android:name=".CRUDActivity.CreateJenisHewanActivity"
            android:label="Buat Data Jenis Hewan">

        </activity>
        <activity android:name=".CRUDActivity.EditJenisHewanActivity"
            android:label="Ubah Data Jenis Hewan">

        </activity>
        <activity android:name=".Activity.DescProdukActivity"
            android:label="Detail Produk">

        </activity>
        <activity android:name=".Activity.DescLayananActivity"
            android:label="Detail Layanan">

        </activity>
        <activity android:name=".CRUDActivity.CreateHewanActivity"
            android:label="Buat Data Hewan">

        </activity>
        <activity android:name=".CRUDActivity.EditHewanActivity"
            android:label="Edit Data Hewan">

        </activity>
        <activity android:name=".CRUDActivity.CreateCustomerActivity"
            android:label="Buat Data Customer">
        </activity>
        <activity android:name=".CRUDActivity.EditCustomerActivity"
            android:label="Edit Data Customer">

        </activity>
        <activity android:name=".CRUDActivity.CreateTransaksiProdukActivity">

        </activity>
        <activity android:name=".Activity.TransaksiProdukActivity">

        </activity>
        <activity android:name=".CRUDActivity.ShowDetailTransaksiProduk">

        </activity>
        <activity android:name=".CRUDActivity.PickCustomerActivity">

        </activity>
        <activity android:name=".CRUDActivity.PickProdukActivity">

        </activity>
        <activity android:name=".CRUDActivity.EditTransaksiProdukActivity">

        </activity>
        <activity android:name=".CRUDActivity.CreateTransaksiLayananActivity">

        </activity>
        <activity android:name=".Activity.TransaksiLayananActivity">

        </activity>
        <activity android:name=".CRUDActivity.ShowDetailTransaksiLayananActivity">

        </activity>
        <activity android:name=".CRUDActivity.EditTransaksiLayananActivity">

        </activity>
        <activity android:name=".CRUDActivity.PickLayananActivity">

        </activity>
        <activity android:name=".CRUDActivity.PickHewanActivity">

        </activity>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:resource="@drawable/paw"
        android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:resource="@color/theme"
        android:value="false" />

        <service android:name=".Endpoints.NotificationService">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT"/>
        </intent-filter>
        </service>

    </application>

</manifest>